
        body {
            margin: 0;
            padding: 0;
            overflow: hidden;
            font-family: Arial, sans-serif;
            cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='51' height='61' viewport='0 0 100 100' style='fill:black;font-size:31px;'><text y='50%'>🗯️</text></svg>") 16 0,auto;
        }

        ::selection {
            color: #1010ff;
            background: #e1ff80;
            }

            a {
            color: #1010ff;
            }

        #container {
            display: flex;
            height: 100vh;
        }

        #first-section {
            width: 30vw;
            background-color: #ffffff;
            overflow: hidden;
            padding: 3vw;
            box-sizing: border-box;
        }

        #second-section {
            width: 70vw;
            background-color: #ffffff;

            padding: 2vw;
            box-sizing: border-box;
        }

        #embedded-content {
            width: 100%;
            height: 100%;
        }

        #title {
            font-size: 3vw;
            color: #1010ff;
            font-weight: bold;
            margin-bottom: 0.5vw;
            font-family: 'PT Serif', serif;
        }

        #subtitle {
            font-size: 1vw;
            color: #333;
            margin-bottom: 2vw;
            margin-top: 0vw;
            font-family: 'DM Sans', sans-serif;
        }

        #logo-container {
            display: flex;
            margin-bottom: 4vw;
        }

        .logo {
            width: auto;
            height: 5vw;
            margin-right: 2vw;
        }

        #right-title {
            font-size: 2.1vw;
            font-weight: bold;
            margin-top: 5vw;
            margin-left: 3vw;
            font-family: 'PT Serif', serif;
            text-decoration: underline;
        }

        #right-small-title {
            font-size: 1.5vw;
            font-weight: bold;
            margin-top: 3vw;
            margin-left: 0vw;
            font-family: 'PT Serif', serif;
        }

        #right-small-title-keyfindings {
            font-size: 1.5vw;
            font-weight: bold;
            margin-top: 3vw;
            margin-left: 0vw;
            margin-bottom: 3vw;
            font-family: 'PT Serif', serif;
        }

        #text-small-content {
            font-size: 1.3vw;
            color: #333;
            margin-right: 2.5vw;
            margin-top: 1.5vw;
            margin-bottom: 3vw;
            margin-left: 3vw;
            font-family: 'DM Sans', sans-serif;

        }

        #text-content {
            font-size: 1.3vw;
            color: #333;
            margin-right: 2.5vw;
            margin-top: 2.5vw;
            margin-bottom: 3vw;
            margin-left: 3vw;
            font-family: 'DM Sans', sans-serif;

        }

        .image-text-section {
            display: flex;
            align-items: center;
        }

        .text-content {
            width: 60%;
            padding-right:8vw;
            box-sizing: border-box;
        }

        .image-content {
            width: 20vw;
            padding-left:2vw;
            height: auto;
            margin-bottom: -3vw;
            margin-top: 1vw;

        }

        .image-content img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.3s ease-in-out;
        }

        .image-content:hover img {
            transform: scale(1.8);
        }


        #keyfindings-small-title {
            font-size: 1.5vw;
            font-weight: bold;
            font-family: 'PT Serif', serif;
        }

            #text-small-content-keyfindings {
            font-size: 1.3vw;
            color: #333;
            margin-right: 2.5vw;
            margin-top: 1.5vw;
            margin-bottom: 3vw;
            margin-left: 3vw;
            font-family: 'DM Sans', sans-serif;
            width: 80vw;

        }

       
      
        .img_producto_container {
            width: auto;
            height: 48vh;
            position: relative;
            overflow: hidden;
            cursor: zoom-in;
          }
          .img_producto {

            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            transition: transform 0.5s ease-out;
          }
          